html

    head

        title= title

        style

            include style.css

    body

        div

            h1="Hello " + username + "! A bunch of new quizzes for you: "

        form(action="history/")

            input(type="submit" value="History")

        form(action="changepassword/")

             input(type="submit" value="Change password")




        div

            
            ul
                each  quiz, index in quizzes

                    li

                        form(method='POST', action="/quiz/" + quiz.id)
                            if done[index]
                                button(type="submit" disabled="yes") #{quiz.description}
                            else
                                button(type="submit") #{quiz.description}
                            input(type="hidden" name="quizId" value=quiz.id)
                            input(type="hidden" name="_csrf" value=csrfToken) 

        div

            form(method='POST', action="/logout")
                button(type="submit") Log out 