html

    head

        title= title

        style

            include style.css

    body

        div

            h1="Hello " + username + "! Your Results from " + quiz.introduction + ":"

        form(method='GET' action="/home/")

                button(type="submit") Home

        div

            table

                tr

                    th Question number
                    th Question
                    th Correct answer
                    th Your answer
                    th Your penalty
                    th Average time spent

                each  question, index in quiz.questions

                    tr

                        td #{question.id}
                        td #{question.question}
                        td #{question.answer}
                        td #{user_answers[index]}
                        td #{question.penalty}
                        td #{averages[index]}

        div 

            h2="Overall best scores:"

            table

                tr

                    th Username
                    th Time (seconds)

                each  best, index in top

                    tr

                        td #{best[0]}
                        
                        td #{best[1]}

        div

            form(method='POST', action="/logout")
                button(type="submit") Log out 